<main class="flex-main">
  <article>
    <section class="flex-filter">
      <h4><%= @user.name %></h4>
      <!-- This form will filter posts by language -->
      <div class="filter">
        <select name="State" id="input7">
          <option value="Choice" class="choice">Filter Posts By:</option>
          <option value="post">Your Posts</option>
          <option value="comment">Your Refactors</option>
        </select>
      </div>
    </section>

    <div class="flex-postcontainer">
      <%= render 'userposts' %>
    </div>
  </article>
</main>
