Sass::SyntaxError at /users/sign_in
===================================

> Invalid CSS after " */": expected "{", was ""
  (in /Users/SJB/CodeFellows/Refactor-Site/refactor/app/assets/stylesheets/application.css)

app/views/layouts/application.html.erb, line 5
----------------------------------------------

``` ruby
    1   <!DOCTYPE html>
    2   <html>
    3     <head>
    4       <title>Refactor</title>
>   5       <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    6       <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    7       <%= csrf_meta_tags %>
    8   
    9       <!-- This is the Max generated html -->
   10       <meta charset="utf-8">
```

App backtrace
-------------

 - app/views/layouts/application.html.erb:5:in `_app_views_layouts_application_html_erb__4325259220281305168_70147398671600'
 - test/test_helper.rb:18:in `sign_in'
 - test/features/posts/author_name_show_in_post_test.rb:17:in `block (2 levels) in <top (required)>'

Full backtrace
--------------

 - sass (3.2.19) lib/sass/scss/parser.rb:1147:in `expected'
 - sass (3.2.19) lib/sass/scss/parser.rb:1085:in `expected'
 - sass (3.2.19) lib/sass/scss/parser.rb:1080:in `tok!'
 - sass (3.2.19) lib/sass/scss/parser.rb:534:in `block'
 - sass (3.2.19) lib/sass/scss/parser.rb:529:in `ruleset'
 - sass (3.2.19) lib/sass/scss/parser.rb:553:in `block_child'
 - sass (3.2.19) lib/sass/scss/parser.rb:546:in `block_contents'
 - sass (3.2.19) lib/sass/scss/parser.rb:82:in `stylesheet'
 - sass (3.2.19) lib/sass/scss/parser.rb:27:in `parse'
 - sass (3.2.19) lib/sass/engine.rb:342:in `_to_tree'
 - sass (3.2.19) lib/sass/engine.rb:315:in `_render'
 - sass (3.2.19) lib/sass/engine.rb:262:in `render'
 - sprockets (2.11.0) lib/sprockets/sass_compressor.rb:24:in `evaluate'
 - tilt (1.4.1) lib/tilt/template.rb:103:in `render'
 - sprockets (2.11.0) lib/sprockets/context.rb:197:in `block in evaluate'
 - sprockets (2.11.0) lib/sprockets/context.rb:194:in `evaluate'
 - sprockets (2.11.0) lib/sprockets/bundled_asset.rb:25:in `initialize'
 - sprockets (2.11.0) lib/sprockets/base.rb:377:in `build_asset'
 - sprockets (2.11.0) lib/sprockets/index.rb:94:in `block in build_asset'
 - sprockets (2.11.0) lib/sprockets/caching.rb:58:in `cache_asset'
 - sprockets (2.11.0) lib/sprockets/index.rb:93:in `build_asset'
 - sprockets (2.11.0) lib/sprockets/base.rb:287:in `find_asset'
 - sprockets (2.11.0) lib/sprockets/index.rb:61:in `find_asset'
 - sprockets (2.11.0) lib/sprockets/environment.rb:75:in `find_asset'
 - sprockets (2.11.0) lib/sprockets/base.rb:295:in `[]'
 - sprockets-rails (2.1.3) lib/sprockets/rails/helper.rb:120:in `asset_digest_path'
 - sprockets-rails (2.1.3) lib/sprockets/rails/helper.rb:68:in `compute_asset_path'
 - actionview (4.1.1) lib/action_view/helpers/asset_url_helper.rb:132:in `asset_path'
 - actionview (4.1.1) lib/action_view/helpers/asset_url_helper.rb:256:in `stylesheet_path'
 - actionview (4.1.1) lib/action_view/helpers/asset_tag_helper.rb:100:in `block in stylesheet_link_tag'
 - actionview (4.1.1) lib/action_view/helpers/asset_tag_helper.rb:96:in `stylesheet_link_tag'
 - sprockets-rails (2.1.3) lib/sprockets/rails/helper.rb:167:in `stylesheet_link_tag'
 - app/views/layouts/application.html.erb:5:in `_app_views_layouts_application_html_erb__4325259220281305168_70147398671600'
 - actionview (4.1.1) lib/action_view/template.rb:145:in `block in render'
 - activesupport (4.1.1) lib/active_support/notifications.rb:161:in `instrument'
 - actionview (4.1.1) lib/action_view/template.rb:339:in `instrument'
 - actionview (4.1.1) lib/action_view/template.rb:143:in `render'
 - actionview (4.1.1) lib/action_view/renderer/template_renderer.rb:67:in `render_with_layout'
 - actionview (4.1.1) lib/action_view/renderer/template_renderer.rb:53:in `render_template'
 - actionview (4.1.1) lib/action_view/renderer/template_renderer.rb:17:in `render'
 - actionview (4.1.1) lib/action_view/renderer/renderer.rb:42:in `render_template'
 - actionview (4.1.1) lib/action_view/renderer/renderer.rb:23:in `render'
 - actionview (4.1.1) lib/action_view/rendering.rb:99:in `_render_template'
 - actionpack (4.1.1) lib/action_controller/metal/streaming.rb:217:in `_render_template'
 - actionview (4.1.1) lib/action_view/rendering.rb:82:in `render_to_body'
 - actionpack (4.1.1) lib/action_controller/metal/rendering.rb:32:in `render_to_body'
 - actionpack (4.1.1) lib/action_controller/metal/renderers.rb:32:in `render_to_body'
 - actionpack (4.1.1) lib/abstract_controller/rendering.rb:25:in `render'
 - actionpack (4.1.1) lib/action_controller/metal/rendering.rb:16:in `render'
 - actionpack (4.1.1) lib/action_controller/metal/instrumentation.rb:41:in `block (2 levels) in render'
 - activesupport (4.1.1) lib/active_support/core_ext/benchmark.rb:12:in `block in ms'
 - /Users/SJB/.rbenv/versions/2.1.1/lib/ruby/2.1.0/benchmark.rb:294:in `realtime'
 - activesupport (4.1.1) lib/active_support/core_ext/benchmark.rb:12:in `ms'
 - actionpack (4.1.1) lib/action_controller/metal/instrumentation.rb:41:in `block in render'
 - actionpack (4.1.1) lib/action_controller/metal/instrumentation.rb:84:in `cleanup_view_runtime'
 - activerecord (4.1.1) lib/active_record/railties/controller_runtime.rb:25:in `cleanup_view_runtime'
 - actionpack (4.1.1) lib/action_controller/metal/instrumentation.rb:40:in `render'
 - actionpack (4.1.1) lib/action_controller/metal/implicit_render.rb:10:in `default_render'
 - actionpack (4.1.1) lib/action_controller/metal/responder.rb:238:in `default_render'
 - actionpack (4.1.1) lib/action_controller/metal/responder.rb:165:in `to_html'
 - actionpack (4.1.1) lib/action_controller/metal/responder.rb:158:in `respond'
 - actionpack (4.1.1) lib/action_controller/metal/responder.rb:151:in `call'
 - actionpack (4.1.1) lib/action_controller/metal/mime_responds.rb:400:in `respond_with'
 - devise (3.2.4) app/controllers/devise/sessions_controller.rb:10:in `new'
 - actionpack (4.1.1) lib/action_controller/metal/implicit_render.rb:4:in `send_action'
 - actionpack (4.1.1) lib/abstract_controller/base.rb:189:in `process_action'
 - actionpack (4.1.1) lib/action_controller/metal/rendering.rb:10:in `process_action'
 - actionpack (4.1.1) lib/abstract_controller/callbacks.rb:20:in `block in process_action'
 - activesupport (4.1.1) lib/active_support/callbacks.rb:113:in `call'
 - activesupport (4.1.1) lib/active_support/callbacks.rb:149:in `block in halting_and_conditional'
 - activesupport (4.1.1) lib/active_support/callbacks.rb:229:in `block in halting'
 - activesupport (4.1.1) lib/active_support/callbacks.rb:229:in `block in halting'
 - activesupport (4.1.1) lib/active_support/callbacks.rb:166:in `block in halting'
 - activesupport (4.1.1) lib/active_support/callbacks.rb:166:in `block in halting'
 - activesupport (4.1.1) lib/active_support/callbacks.rb:166:in `block in halting'
 - activesupport (4.1.1) lib/active_support/callbacks.rb:166:in `block in halting'
 - activesupport (4.1.1) lib/active_support/callbacks.rb:149:in `block in halting_and_conditional'
 - activesupport (4.1.1) lib/active_support/callbacks.rb:149:in `block in halting_and_conditional'
 - activesupport (4.1.1) lib/active_support/callbacks.rb:149:in `block in halting_and_conditional'
 - activesupport (4.1.1) lib/active_support/callbacks.rb:86:in `run_callbacks'
 - actionpack (4.1.1) lib/abstract_controller/callbacks.rb:19:in `process_action'
 - actionpack (4.1.1) lib/action_controller/metal/rescue.rb:29:in `process_action'
 - actionpack (4.1.1) lib/action_controller/metal/instrumentation.rb:31:in `block in process_action'
 - activesupport (4.1.1) lib/active_support/notifications.rb:159:in `block in instrument'
 - activesupport (4.1.1) lib/active_support/notifications/instrumenter.rb:20:in `instrument'
 - activesupport (4.1.1) lib/active_support/notifications.rb:159:in `instrument'
 - actionpack (4.1.1) lib/action_controller/metal/instrumentation.rb:30:in `process_action'
 - actionpack (4.1.1) lib/action_controller/metal/params_wrapper.rb:250:in `process_action'
 - activerecord (4.1.1) lib/active_record/railties/controller_runtime.rb:18:in `process_action'
 - actionpack (4.1.1) lib/abstract_controller/base.rb:136:in `process'
 - actionview (4.1.1) lib/action_view/rendering.rb:30:in `process'
 - actionpack (4.1.1) lib/action_controller/metal.rb:195:in `dispatch'
 - actionpack (4.1.1) lib/action_controller/metal/rack_delegation.rb:13:in `dispatch'
 - actionpack (4.1.1) lib/action_controller/metal.rb:231:in `block in action'
 - actionpack (4.1.1) lib/action_dispatch/routing/route_set.rb:80:in `dispatch'
 - actionpack (4.1.1) lib/action_dispatch/routing/route_set.rb:48:in `call'
 - actionpack (4.1.1) lib/action_dispatch/routing/mapper.rb:45:in `call'
 - actionpack (4.1.1) lib/action_dispatch/journey/router.rb:71:in `block in call'
 - actionpack (4.1.1) lib/action_dispatch/journey/router.rb:59:in `call'
 - actionpack (4.1.1) lib/action_dispatch/routing/route_set.rb:676:in `call'
 - omniauth (1.2.1) lib/omniauth/strategy.rb:186:in `call!'
 - omniauth (1.2.1) lib/omniauth/strategy.rb:164:in `call'
 - omniauth (1.2.1) lib/omniauth/strategy.rb:186:in `call!'
 - omniauth (1.2.1) lib/omniauth/strategy.rb:164:in `call'
 - warden (1.2.3) lib/warden/manager.rb:35:in `block in call'
 - warden (1.2.3) lib/warden/manager.rb:34:in `call'
 - rack (1.5.2) lib/rack/etag.rb:23:in `call'
 - rack (1.5.2) lib/rack/conditionalget.rb:25:in `call'
 - rack (1.5.2) lib/rack/head.rb:11:in `call'
 - actionpack (4.1.1) lib/action_dispatch/middleware/params_parser.rb:27:in `call'
 - actionpack (4.1.1) lib/action_dispatch/middleware/flash.rb:254:in `call'
 - rack (1.5.2) lib/rack/session/abstract/id.rb:225:in `context'
 - rack (1.5.2) lib/rack/session/abstract/id.rb:220:in `call'
 - actionpack (4.1.1) lib/action_dispatch/middleware/cookies.rb:560:in `call'
 - activerecord (4.1.1) lib/active_record/query_cache.rb:36:in `call'
 - activerecord (4.1.1) lib/active_record/connection_adapters/abstract/connection_pool.rb:621:in `call'
 - actionpack (4.1.1) lib/action_dispatch/middleware/callbacks.rb:29:in `block in call'
 - activesupport (4.1.1) lib/active_support/callbacks.rb:82:in `run_callbacks'
 - actionpack (4.1.1) lib/action_dispatch/middleware/callbacks.rb:27:in `call'
 - actionpack (4.1.1) lib/action_dispatch/middleware/remote_ip.rb:76:in `call'
 - better_errors (1.1.0) lib/better_errors/middleware.rb:84:in `protected_app_call'
 - better_errors (1.1.0) lib/better_errors/middleware.rb:79:in `better_errors_call'
 - better_errors (1.1.0) lib/better_errors/middleware.rb:56:in `call'
 - actionpack (4.1.1) lib/action_dispatch/middleware/debug_exceptions.rb:17:in `call'
 - actionpack (4.1.1) lib/action_dispatch/middleware/show_exceptions.rb:30:in `call'
 - railties (4.1.1) lib/rails/rack/logger.rb:38:in `call_app'
 - railties (4.1.1) lib/rails/rack/logger.rb:20:in `block in call'
 - activesupport (4.1.1) lib/active_support/tagged_logging.rb:68:in `block in tagged'
 - activesupport (4.1.1) lib/active_support/tagged_logging.rb:26:in `tagged'
 - activesupport (4.1.1) lib/active_support/tagged_logging.rb:68:in `tagged'
 - railties (4.1.1) lib/rails/rack/logger.rb:20:in `call'
 - actionpack (4.1.1) lib/action_dispatch/middleware/request_id.rb:21:in `call'
 - rack (1.5.2) lib/rack/methodoverride.rb:21:in `call'
 - rack (1.5.2) lib/rack/runtime.rb:17:in `call'
 - activesupport (4.1.1) lib/active_support/cache/strategy/local_cache_middleware.rb:26:in `call'
 - actionpack (4.1.1) lib/action_dispatch/middleware/static.rb:64:in `call'
 - rack (1.5.2) lib/rack/sendfile.rb:112:in `call'
 - railties (4.1.1) lib/rails/engine.rb:514:in `call'
 - railties (4.1.1) lib/rails/application.rb:144:in `call'
 - rack (1.5.2) lib/rack/builder.rb:138:in `call'
 - rack (1.5.2) lib/rack/urlmap.rb:65:in `block in call'
 - rack (1.5.2) lib/rack/urlmap.rb:50:in `call'
 - rack-test (0.6.2) lib/rack/mock_session.rb:30:in `request'
 - rack-test (0.6.2) lib/rack/test.rb:230:in `process_request'
 - rack-test (0.6.2) lib/rack/test.rb:57:in `get'
 - /Users/SJB/.rbenv/versions/2.1.1/lib/ruby/2.1.0/forwardable.rb:183:in `get'
 - capybara (2.1.0) lib/capybara/rack_test/browser.rb:59:in `process'
 - capybara (2.1.0) lib/capybara/rack_test/browser.rb:35:in `process_and_follow_redirects'
 - capybara (2.1.0) lib/capybara/rack_test/browser.rb:21:in `visit'
 - capybara (2.1.0) lib/capybara/rack_test/driver.rb:42:in `visit'
 - capybara (2.1.0) lib/capybara/session.rb:193:in `visit'
 - capybara (2.1.0) lib/capybara/dsl.rb:51:in `block (2 levels) in <module:DSL>'
 - test/test_helper.rb:18:in `sign_in'
 - test/features/posts/author_name_show_in_post_test.rb:17:in `block (2 levels) in <top (required)>'
 - minitest (5.3.4) lib/minitest/test.rb:106:in `block (3 levels) in run'
 - minitest (5.3.4) lib/minitest/test.rb:204:in `capture_exceptions'
 - minitest (5.3.4) lib/minitest/test.rb:103:in `block (2 levels) in run'
 - minitest (5.3.4) lib/minitest/test.rb:256:in `time_it'
 - minitest (5.3.4) lib/minitest/test.rb:102:in `block in run'
 - minitest (5.3.4) lib/minitest.rb:317:in `on_signal'
 - minitest (5.3.4) lib/minitest/test.rb:276:in `with_info_handler'
 - minitest (5.3.4) lib/minitest/test.rb:101:in `run'
 - minitest (5.3.4) lib/minitest.rb:759:in `run_one_method'
 - minitest (5.3.4) lib/minitest.rb:293:in `run_one_method'
 - minitest (5.3.4) lib/minitest.rb:287:in `block (2 levels) in run'
 - minitest (5.3.4) lib/minitest.rb:286:in `block in run'
 - minitest (5.3.4) lib/minitest.rb:317:in `on_signal'
 - minitest (5.3.4) lib/minitest.rb:306:in `with_info_handler'
 - minitest (5.3.4) lib/minitest.rb:285:in `run'
 - minitest (5.3.4) lib/minitest.rb:149:in `block in __run'
 - minitest (5.3.4) lib/minitest.rb:149:in `__run'
 - minitest (5.3.4) lib/minitest.rb:126:in `run'
 - minitest (5.3.4) lib/minitest.rb:55:in `block in autorun'

