!!!
%html{:lang => "en-us"}
  %head
    %meta{:charset => "utf-8"}
    %title Max Brockman
    %meta{:content => "Live Project View", :name => "decription"}
    %link{:href => "css/normalize.css", :rel => "stylesheet"}
    / import fonts
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,600", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Arvo:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans+Mono", :rel => "stylesheet", :type => "text/css"}
      / link to stylesheets
    %link{:href => "css/base.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/module.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/state.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/color.css", :rel => "stylesheet", :type => "text/css"}
  %body.flex-container
    %header.flex-item-1.flex-width1
      %img{:src => "REFACTORS_LOGO.svg", :alt => "refactors logo"}
